In [29]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re
import spacy

# Importing the data

In [3]:
true_news=pd.read_csv(r"C:\Users\Dell\Desktop\DESKTOP_FOLDER\EISystems_Final_Project\INNOVATE\True.csv")

In [4]:
true_news.head(5)

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [5]:
fake_news=pd.read_csv(r"C:\Users\Dell\Desktop\DESKTOP_FOLDER\EISystems_Final_Project\INNOVATE\Fake.csv")

In [6]:
fake_news.head(5)

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [34]:
true_news['category']=1
fake_news['category']=0

true_news = true_news.sample(n=4000, random_state=42).reset_index(drop=True)
fake_news = fake_news.sample(n=4000, random_state=42).reset_index(drop=True)

In [35]:
data=pd.concat([true_news,fake_news])

In [36]:
data.head(5)

,title,text,subject,date,category
0,Europe rights watchdog says Turkey's emergency...,BRUSSELS (Reuters) - A leading European rights...,worldnews,"October 6, 2017",1
1,Exclusive: Trump targets illegal immigrants wh...,"(Reuters) - In September 2014, Gilberto Velasq...",politicsNews,"June 9, 2017",1
2,"At G20 summit, Trump pledges $639 million in a...",HAMBURG (Reuters) - U.S. President Donald Trum...,politicsNews,"July 8, 2017",1
3,Ex-Christie associates lose bid for new trial ...,NEW YORK (Reuters) - A federal judge rejected ...,politicsNews,"March 2, 2017",1
4,Young blacks more open to Bernie Sanders' Whit...,"ORANGEBURG, S.C. (Reuters) - If Democratic hop...",politicsNews,"February 12, 2016",1

In [39]:
#shuffling the data

dataset=data.sample(frac=1).reset_index(drop=True)

In [40]:
dataset.head(5)

,title,text,subject,date,category
0,BLACK CONSERVATIVE Student DESTROYS Black Live...,"If you have the time, you should watch every m...",left-news,"May 25, 2016",0
1,Republicans seek special counsel's removal fro...,WASHINGTON (Reuters) - Three Republican U.S. l...,politicsNews,"November 3, 2017",1
2,Debbie Wasserman Schultz’s DNC Resignation Cl...,Democratic National Committee Chair Debbie Was...,News,"July 24, 2016",0
3,BREAKING! NEW Wikileaks Email: Confidential Au...,The report exposed in an email shared by Wikil...,left-news,"Nov 6, 2016",0
4,California Assembly passes gender-neutral rest...,"SACRAMENTO, Calif. (Reuters) - A bill requirin...",politicsNews,"May 10, 2016",1

In [41]:
# sns.set_style("darkgrid")
# sns.countplot(dataset.category)
len(dataset)

8000

In [42]:
len(dataset[dataset['category']==0])

4000

In [43]:
len(dataset[dataset['category']==1])

4000

In [44]:
dataset.isnull().sum()

title       0
text        0
subject     0
date        0
category    0
dtype: int64

In [45]:
dataset.dropna(inplace=True)

In [46]:
len(dataset)  #No NaN values

8000

In [47]:
dataset['text']=dataset['title']+ " "+dataset['text']
del dataset['title']
del dataset['date']

In [48]:
dataset.head()

                                                text       subject  category
0  BLACK CONSERVATIVE Student DESTROYS Black Live...     left-news         0
1  Republicans seek special counsel's removal fro...  politicsNews         1
2   Debbie Wasserman Schultz’s DNC Resignation Cl...          News         0
3  BREAKING! NEW Wikileaks Email: Confidential Au...     left-news         0
4  California Assembly passes gender-neutral rest...  politicsNews         1

# Preprocessing the data

1)Changing the text into lower case

In [49]:
dataset['text']=dataset.text.apply(str.lower)

In [50]:
dataset.head()

                                                text       subject  category
0  black conservative student destroys black live...     left-news         0
1  republicans seek special counsel's removal fro...  politicsNews         1
2   debbie wasserman schultz’s dnc resignation cl...          News         0
3  breaking! new wikileaks email: confidential au...     left-news         0
4  california assembly passes gender-neutral rest...  politicsNews         1

2)Removing Punctuation and Special characters

In [51]:
dataset['text']=dataset['text'].apply(lambda x: re.sub('r[^a-z\s]','',x))

In [52]:
dataset.head()

                                                text       subject  category
0  black conservative student destroys black live...     left-news         0
1  republicans seek special counsel's removal fro...  politicsNews         1
2   debbie wasserman schultz’s dnc resignation cl...          News         0
3  breaking! new wikileaks email: confidential au...     left-news         0
4  california assembly passes gendeneutral restro...  politicsNews         1

3)Tokenization

In [57]:

nlp = spacy.load("en_core_web_sm", disable=['parser', 'ner'])

def tokenize(texts):
    return [[token.text for token in nlp(text)] for text in texts]


dataset['text'] = tokenize(dataset['text'])

print(dataset['text'].head(5))

0    [black, conservative, student, destroys, black...
1    [republicans, seek, special, counsel, 's, remo...
2    [  , debbie, wasserman, schultz, ’s, dnc, resi...
3    [breaking, !, new, wikileaks, email, :, confid...
4    [california, assembly, passes, gendeneutral, r...
Name: text, dtype: object

4)Stopwords removal

In [59]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Dell\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [61]:
from nltk.corpus import stopwords

stop=set(stopwords.words('english'))

dataset['text']=dataset['text'].apply(lambda x:[word for word in x if word not in stop])

dataset['text'].head(5)

0    [black, conservative, student, destroys, black...
1    [republicans, seek, special, counsel, 's, remo...
2    [  , debbie, wasserman, schultz, ’s, dnc, resi...
3    [breaking, !, new, wikileaks, email, :, confid...
4    [california, assembly, passes, gendeneutral, r...
Name: text, dtype: object

5)Stemming/Lemmatization

In [64]:
import nltk
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Dell\AppData\Roaming\nltk_data...

True

In [65]:
#Lemmatization

from nltk.stem import WordNetLemmatizer

lemmatizer=WordNetLemmatizer()
dataset['text']=dataset['text'].apply(lambda x:[lemmatizer.lemmatize(word) for word in x])

dataset['text'].head()

0    [black, conservative, student, destroys, black...
1    [republican, seek, special, counsel, 's, remov...
2    [  , debbie, wasserman, schultz, ’s, dnc, resi...
3    [breaking, !, new, wikileaks, email, :, confid...
4    [california, assembly, pass, gendeneutral, res...
Name: text, dtype: object

6) Vectorization(Text to Numeric Format)

In [70]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer(max_features=5000)  
X = vectorizer.fit_transform(dataset['text'].apply(lambda x: ' '.join(x)))

7)Train_test_split

In [72]:
from sklearn.model_selection import train_test_split

X_train,X_test,Y_train,Y_test=train_test_split(X,dataset['category'],random_state=42,test_size=0.2)

# Model development

In [75]:
from sklearn.naive_bayes import MultinomialNB

model=MultinomialNB()

model.fit(X_train,Y_train)

MultinomialNB()

In [76]:
from sklearn.metrics import accuracy_score

y_pred=model.predict(X_test)

In [77]:
y_pred

array([1, 1, 1, ..., 1, 1, 1], dtype=int64)

In [78]:
accuracy_score(Y_test,y_pred)

0.93875